<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/calculadora.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1011/1011812.png" type="image/x-icon">

    <script src="../js/script.js" type="text/javascript"></script>
    <title>Calculadora</title>
</head>

<body>
    <script>
        let oper
        let num
    </script>
    <section>
        <div class="ce-c">
        </div>

        

        
        <div class="displayandigual">
            <div class="exibir">
                <div class="box1 gap-caixas" id="display1"></div>
                <div class="box1" id="display2"></div>
            </div>
            <div class="caixa" id="display">
                <!--Exibir respostas aqui-->
            </div>
        </div>
        

        <div class="operacoes">
            <!-- <button onclick="cebutton()" >CE</button> -->
            <button onclick="deletar()" style="color: black; background-color: rgb(187, 187, 187)">C</button>
            <input id="number" type="button" value="√" onclick="oper = '√', operador(oper)" style="color: black; background-color: rgb(187, 187, 187)">
            <input id="number" type="button" value="^" onclick="oper = '**', operador(oper)" style="color: black; background-color: rgb(187, 187, 187)">
            <input id="number" type="button" value="÷" onclick="oper = '/', operador(oper)" style="background-color: rgb(255, 123, 0);">
            <input id="number" type="button" value="7" onclick="num = '7', clicou(num)">
            <input id="number" type="button" value="8" onclick="num = '8', clicou(num)">
            <input id="number" type="button" value="9" onclick="num = '9', clicou(num)">
            <input id="number" type="button" value="x" onclick="oper = '*', operador(oper)" style="background-color: rgb(255, 123, 0);">
            <input id="number" type="button" value="4" onclick="num = '4', clicou(num)">
            <input id="number" type="button" value="5" onclick="num = '5', clicou(num)">
            <input id="number" type="button" value="6" onclick="num = '6', clicou(num)">
            <input id="number" type="button" value="-" onclick="oper = '-', operador(oper)" style="background-color: rgb(255, 123, 0);">
            <input id="number" type="button" value="1" onclick="num = '1', clicou(num)">
            <input id="number" type="button" value="2" onclick="num = '2', clicou(num)">
            <input id="number" type="button" value="3" onclick="num = '3', clicou(num)">
            <input id="number" type="button" value="+" onclick="oper = '+', operador(oper)" style="background-color: rgb(255, 123, 0);">
        </div>

        <div class="alinhar-btn">
            <input id="number" class="zero" type="button" value="0" onclick="num = '0', clicou(num)">
            <input id="number" class="btn-inferior" type="button" value="." onclick="num = '.', clicou(num)">
            <input type="button" class="btn-inferior cor-operadores" value="=" onclick="calcular()">
        </div>

    </section>



</body>

</html>